.container {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}
.fifthIn {
  width: 90%;
  margin: 0 auto;
}
.fifthIn .header {
  width: 100%;
  height: 150px;
}
.fifthIn .school {
  width: 100%;
  height: 300px;
}
