.fifthContent {
  width: 100%;
  height: 100%;
  background-color: rgba(249,206,255, .1);
  .fifthIn {
    width: 90%;
    margin: 0 auto;
  }
  .swiperForth {
    width: 100%;
    height: 370px;
    --swiper-pagination-color: #bb021a;
  }
  .card {
    height: 90%;
    .ant-card-head-title{
      font-size: 36px;
    }
    .champion{
      width: 36px;
      height: 36px;
    }
  }
  .card2 {
    height: 100px;
    text-align: center;
  }
  .content {
    font-size: 25px;
    line-height: 48px;
    color: #454545;
  }
  .swiperForth2 {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .fifthContent {
    width: 100%;
    height: 100%;
    .fifthIn {
      width: 90%;
      margin: 0 auto;
      .swiperForth {
        margin-top: 36px;
        width: 100%;
        height: 370px;
        .card{
            width: 100%;
            height: 300px;
        }
      }
      .swiperForth2 {
        margin-top: 36px;
        width: 100%;
        height: 100%;
        .card2{
            height: 80px;
            text-align: center;
        }
      }
      .content {
        font-size: 20px;
        line-height: 36px;
        color: #454545;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .fifthContent {
    width: 100%;
    height: 100%;
    .fifthIn {
      width: 90%;
      margin: 0 auto;
      .swiperForth {
        margin-top: 36px;
        width: 100%;
        height: 370px;
        .card{
            width: 100%;
            height: 300px;
        }
      }
      .swiperForth2 {
        margin-top: 36px;
        width: 100%;
        height: 100%;
        .card2{
            height: 80px;
            text-align: center;
        }
      }
      .content {
        font-size: .15rem;
        line-height: 36px;
        color: #454545;
      }
    }
  }
}
