.sixContent {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/sixth/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.sixContent .sixIn {
  width: 90%;
  margin: 0 auto;
}
.sixContent .sixIn .header1 {
  color: white;
}
.sixContent .sixIn .header2 {
  opacity: 0.8;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 900px) {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/sixth/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  .sixIn {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/sixth/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  .sixIn {
    width: 90%;
    margin: 0 auto;
  }
}
