.secondContent {
  width: 100%;
  height: 100%;
}
.secondIn {
  width: 90%;
  margin: 0 auto;
}
.secondIn .mySwiperSecond {
  width: 100%;
  height: 460px;
  --swiper-pagination-color: #bb021a;
  position: relative;
  margin-top: 36px;
}
.secondIn .mySwiperSecond .cardText {
  font-size: 20px;
}
.secondIn .mySwiperSecond .button {
  width: 92px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
}
.secondIn .mySwiperSecond .award {
  width: 90%;
  border-radius: 10px;
  height: 250px;
  display: block;
  margin: 10px auto;
}
.secondIn .mySwiperSecond2 {
  margin-top: 70px;
  width: 100%;
  height: 180px;
}
.secondIn .secondCard {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .secondIn {
    width: 90%;
    margin: 0 auto;
  }
  .secondIn .mySwiperSecond {
    width: 100%;
    height: 460px;
    --swiper-pagination-color: #bb021a;
    position: relative;
    margin-top: 36px;
  }
  .secondIn .mySwiperSecond .cardText {
    font-size: 0.1rem;
  }
  .secondIn .mySwiperSecond .button {
    width: 0.8rem;
    height: 32px;
    font-size: 0.1rem;
    line-height: 10px;
  }
  .secondIn .mySwiperSecond .award {
    width: 90%;
    border-radius: 10px;
    height: 250px;
    display: block;
    margin: 10px auto;
  }
  .secondIn .mySwiperSecond2 {
    margin-top: 40px;
    width: 100%;
    height: 180px;
  }
  .secondIn .secondCard {
    width: 100%;
    height: 100%;
  }
}
