.container {
  width: 100%;
  height: 100vh;
}
.secondIn {
  width: 90%;
  margin: 0 auto;
}
.mySwiper {
  --swiper-pagination-color: #bb021a;
  position: relative;
}
.swiper-pagination {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 95%;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 0px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev img,
.swiper-button-next img {
  width: 20px;
  height: 20px;
}
.swiper-button-prev {
  left: 45%;
  box-shadow: 1px 1px 1px grey;
  background-color: white;
}
.swiper-button-next {
  right: 45%;
  box-shadow: 1px 1px 1px grey;
  background-color: #bb021a;
}
