.secondContent{
  width: 100%;
  height: 100%;
}
.secondIn {
  width: 90%;
  margin: 0 auto;
  .mySwiperSecond{
    width: 100%;
    height: 460px;
    --swiper-pagination-color: #bb021a;
    position: relative;
    margin-top: 36px;
    .cardText{
      font-size: 20px;
    }
    .button{
      width: 92px;
      height: 32px;
      font-size: 20px;
      line-height: 32px;
    }
    .award{
      width: 90%;
      border-radius: 10px;
      height: 250px;
      display: block;
      margin: 10px auto;
    }
  }
  .mySwiperSecond2{
    margin-top: 70px;
    width: 100%;
    height: 180px;
  }
  .secondCard{
    width: 100%;
    height: 100%;
  }
}
// .swiper-pagination {
//   width: 100%;
//   height: 20px;
// }
// .swiper-button-prev,
// .swiper-button-next {
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   border-radius: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   &::after {
//     display: none;
//   }
//   img {
//     width: 20px;
//     height: 20px;
//   }
// }
// .swiper-button-prev {
//   left: 45%;
//   // background: #FFFFFF;
//   box-shadow: 1px 1px 1px grey;
//   background-color: white;
// }
// .swiper-button-next {
//   right: 45%;
//   box-shadow: 1px 1px 1px grey;
//   background-color: #bb021a;
// }
@media screen and (max-width:576px) {
  .secondIn {
    width: 90%;
    margin: 0 auto;
    .mySwiperSecond{
      width: 100%;
      height: 460px;
      --swiper-pagination-color: #bb021a;
      position: relative;
      margin-top: 36px;
      .cardText{
        font-size: .1rem;
      }
      .button{
        width: .8rem;
        height: 32px;
        font-size: .1rem;
        line-height: 10px;
      }
      .award{
        width: 90%;
        border-radius: 10px;
        height: 250px;
        display: block;
        margin: 10px auto;
      }
    }
    .mySwiperSecond2{
      margin-top: 40px;
      width: 100%;
      height: 180px;
    }
    .secondCard{
      width: 100%;
      height: 100%;
    }
  }
}

