.forthContent {
  width: 100%;
  height: 100%;
}
.forthContent .forthIn {
  width: 90%;
  margin: 0 auto;
}
.forthContent .forthIn .forthSwiper {
  margin-top: 50px;
  width: 100%;
  height: 700px;
  --swiper-pagination-color: #bb021a;
}
.forthContent .forthIn .forthSwiper .content {
  font-size: 20px;
  line-height: 28px;
}
@media screen and (max-width: 576px) {
  .forthContent {
    width: 100%;
    height: 100%;
  }
  .forthContent .forthIn {
    width: 90%;
    margin: 0 auto;
  }
  .forthContent .forthIn .forthSwiper {
    margin-top: 36px;
    width: 100%;
    height: 700px;
    --swiper-pagination-color: #bb021a;
  }
  .forthContent .forthIn .forthSwiper .img {
    width: 100%;
    height: auto;
  }
  .forthContent .forthIn .forthSwiper .content {
    font-size: 0.1rem;
    line-height: 36px;
  }
}
